<template>
  <div class="home">
    <div class="weight-chart-container">
      <VueApexCharts type="line" :options="chartOptions" :series="renderedData" height="400"/>
      <VueApexCharts type="area" height="130" :options="chartOptionsLine" :series="renderedData"></VueApexCharts>
    </div>
      <div class="input-area">
        <div class="input-content">
          <WeighInput @add="onAdd" :input-allowed="inputAllowed"/>
        </div>
      </div>
  </div>
</template>

<script>
import WeighInput from "@/components/WeighInput";
import VueApexCharts from "vue-apexcharts";
import axios from "axios";

export default {
  name: 'Home',
  components: {
    WeighInput,
    VueApexCharts
  },
  mounted() {
    axios.get("https://api.dubzer.dev/fitup/records/get_all_records")
        .then(x => this.weightData = x.data.map(x => ({
          date: new Date(x.date * 1000),
          value: x.value
        })))
  },
  data: function () {
    return {
      weightData: [],
      chartOptions: {
        chart: {
          id: 'chart2',
          type: 'line',
          height: 230,
          toolbar: {
            autoSelected: 'pan',
            show: false
          }
        },
        colors: ['#546E7A'],
        stroke: {
          width: 3
        },
        dataLabels: {
          enabled: true
        },
        fill: {
          opacity: 1,
        },
        markers: {
          size: 0
        },
        xaxis: {
          type: 'datetime',
        },
        yaxis: {
          min: 0,
          labels: {
            show: false
          }
        },
        selection: {
          enabled: true,
          xaxis: {
            min: this.minSelection,
            max: this.renderedData ? this.renderedData[this.renderedData.length - 1].value : undefined
          }
        },
        series: [{
          name: "weight-series",
          data: this.renderedData
        }]
      },
      chartOptionsLine: {
        chart: {
          id: 'chart1',
          height: 130,
          type: 'area',
          brush:{
            target: 'chart2',
            enabled: true
          },
          selection: {
            enabled: true,
          },
        },
        colors: ['#008FFB'],
        fill: {
          type: 'gradient',
          gradient: {
            opacityFrom: 0.91,
            opacityTo: 0.1,
          }
        },
        xaxis: {
          type: 'datetime',
          labels: {
            show: false,
            axisTicks: {
              show: false
            },
          },
          tooltip: {
            enabled: false
          }
        },
        yaxis: {
          tickAmount: 2
        }
      },
    }
  },
  computed: {
    inputAllowed() {
      if(!this.weightData.length)
        return true;

      const lastRecordDate = this.weightData[0].date.setHours(0,0,0,0)
      const currentDate = new Date().setHours(0,0,0,0)

      return lastRecordDate !== currentDate
    },
    predefinedValue() {
      if(!this.weightData.length)
        return undefined;

      if(this.inputAllowed) {
        return undefined
      }

      return this.weightData[this.weightData.length - 1].weight
    },
    renderedData() {
      const mappedData = this.weightData.map(item => ({
        x: item.date,
        y: item.value
      }));

      return [
        {
          name: 'weight-data',
          data: mappedData
        }
      ]
    },
    minSelection() {
      if(this.weightData.length < 15)
        return this.weightData[0].value;

      return this.weightData[this.weightData.length - 16].value
    }
  },
  methods: {
    onAdd: function (weight) {
      const currentDate = new Date()
      axios.post("https://api.dubzer.dev/fitup/records/add?dateTimestamp=" + parseInt((currentDate.getTime() / 1000).toFixed(0)) + "&value=" + weight).then(() => {
        this.weightData.push({
          date: currentDate,
          value: weight
        })
      }).catch()
    }
  }
}
</script>

<style>
.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-area {
  width: 100%;
}
.input-content {
  display: flex;
  justify-content: center;
}
.weight-input {
  max-width: 500px;
}
</style>
