<template>
  <div class="login">
    <v-card outlined>
      <div class="login-content">
        <v-form>
          <v-card-title>
            Вход
          </v-card-title>
            <v-text-field
                placeholder="Адрес эл. почты"
                outlined
                v-model="email"
                :error-messages="emailErrors"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
            ></v-text-field>
          <v-text-field
              placeholder="Пароль"
              outlined
              type="password"
              v-model="password"/>
          <v-card-actions>
            <v-btn color="primary" text @click="onRegister">Зарегистрироваться</v-btn>
            <v-spacer/>
            <v-btn color="primary" text @click="onLogin">Войти</v-btn>
          </v-card-actions>
        </v-form>
      </div>
    </v-card>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import {AUTH_SIGNUP, AUTH_LOGIN} from "@/store/actions/auth";

export default {
  name: "Login",
  mixins: [validationMixin],
  validations: {
    email: { required, email }
  },
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Введите адрес электронной почты')
      !this.$v.email.required && errors.push('Введите адрес электронной почты')
      return errors
    },
  },
  methods: {
    onRegister() {
      this.$store.dispatch(AUTH_SIGNUP, {
        username: this.email,
        password: this.password
      }).then(() => {
        this.email = '';
        this.password = '';
        this.$router.push('/')
      })
          .catch((e) => {
            console.log(e)
            alert("Неправильный логин или пароль")
            this.email = '';
            this.password = '';
          })  // TODO: показывать ошибку внутри окна авторизации
    },
    onLogin() {
      this.$store.dispatch(AUTH_LOGIN, {
        username: this.email,
        password: this.password
      }).then(() => {
        this.email = '';
        this.password = '';
        this.$router.push('/')
      })
          .catch(() => { alert("Неправильный логин или пароль")
            this.email = '';
            this.password = '';
          }) // TODO: показывать ошибку внутри окна авторизации

    }
  }
}
</script>

<style scoped>
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content {
  margin: 50px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
</style>
