<template>
  <div class="weight-input">
    <v-text-field
        :label="inputAllowed ? 'Вес' : 'Вес уже введен'"
        v-model="inputedWeight"
        outlined
        :disabled="!inputAllowed"
    ></v-text-field>
    <v-btn v-if="inputAllowed" class="add-button" fab depressed color="primary" @click="$emit('add', inputedWeight)">
        +
    </v-btn>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
name: "WeighInput",
  mixins: [validationMixin],
  props: ['inputAllowed'],
  validations: {
    inputedWeight: { required, maxLength: maxLength(3)}
  },
  data: function () {
    return {
      inputedWeight: undefined,
      icons: [
          "md-plus-thick"
      ]
    }
  }
}
</script>

<style scoped>
.weight-input {
  display: flex;
}
.add-button {
  margin-left: 10px;
}
</style>
