<template>
  <v-app class="app">
    <v-app-bar
        v-if="$store.getters.isChecked"
      app
      color="white"
      dark
      elevate-on-scroll>
      <v-toolbar-title>Fitup</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn depressed @click="onLogout">Выйти</v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import {AUTH_LOGOUT} from "@/store/actions/auth";

export default {
  name: 'App',

  components: {

  },
  methods: {
    onLogout() {
      this.$store.dispatch(AUTH_LOGOUT)
          .then(() => this.$router.push('/login'))
    }
  }
};
</script>
<style scoped>
html, body { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; }
#app {
  width: 100%;
  height: 100%;
}

</style>
